@import url('https://fonts.googleapis.com/css?family=Caveat|Open+Sans:400,400i,700');
/* Global styles */
* { box-sizing: border-box; margin: 0; padding: 0; }
body { background: #fefefe; color: #1f1f1f; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Aria, sans-serif;
  font-size: 16px; line-height: calc(25 / 16); }

a { color: #2e83bd; text-decoration: underline; }
a:focus, a:hover { color: #4b9cd3; text-decoration: none; }
aside, blockquote { background: #f8f8f8; margin: 1.6875rem 0; padding: 1.25rem 1.5rem; }
aside { border-bottom-right-radius: 0.75rem; border-top: 0.25rem solid #4b9cd3;
  border-bottom-left-radius: 0.75rem; box-shadow: 0 0.0625rem 0.4375rem rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0.0625rem 0.4375rem rgba(0,0,0,0.3); font-size: 0.875rem;
  line-height: calc(22 / 14); }
aside:first-child { margin-top: 0; }
blockquote { border-bottom-left-radius: 0.75rem; border-left: 0.25rem solid #1f1f1f;
  border-top-left-radius: 0.75rem; box-shadow: -0.125rem 0.125rem 0.4375rem rgba(0,0,0,0.25);
  -webkit-box-shadow: -0.125rem 0.125rem 0.4375rem rgba(0,0,0,0.25); font-size: 1.125rem;
  line-height: calc(27 / 18); }
aside > p:first-child, blockquote > p:first-child { margin-top: 0; }
aside > p:last-child, blockquote > p:last-child { margin-bottom: 0; }
h1, h2, h3, h4, h5, h6 { font-family: Caveat, cursive; font-weight: normal; }
h1 { font-size: 3.25rem; line-height: calc(54 / 52); margin: 0 0 2rem; }
h2 { font-size: 2.25rem; line-height: calc(42 / 36); margin: 1.4375rem 0; }
h3 { font-size: 1.25rem; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: calc(26 / 20); margin: 1.125rem 0 0.75rem; text-transform: uppercase; }
aside h3 { font-family: Caveat, cursive; font-size: 1.6875rem; line-height: calc(32 / 27);
  margin: 1rem 0; text-transform: none; }
aside h3:first-child { margin-top: 0; }
footer { margin: 1.5rem 0 0; }
img { display: inline-block; max-width: 100%; vertical-align: middle; }
p { margin: 1.125rem 0; }
ul { list-style-position: inside; margin: 1rem auto; width: 97%; }
li { padding-bottom: 0.1875rem; padding-left: 1.5625rem; text-indent: -1.4375rem; }
table { border: 0; border-collapse: collapse; margin: 1.5rem 0; }
tbody tr:nth-child(even), thead tr { background: #f8f8f8; }
td, th { border: 0.0625rem solid #f0f0f0; font-size: 0.875rem; line-height: 1.3125rem;
  padding: 0.4375rem 0.75rem; min-width: 11.25rem; }
td { vertical-align: top; }
th { text-align: left; vertical-align: middle; }
/* End global styles */

/* Utility classes */
.clearfix { clear: both; }
.float-left { float: left; }
.float-right { float: right; }
.label { background: #f0f0f0; border-radius: 0.3125rem; display: inline-block; font-size: 0.875rem;
  line-height: 1.3125rem; padding: 0.3125rem 0.75rem; margin: 0.4375rem 0.3125rem; }
.table-wrapper { box-shadow: 0.0625rem 0.125rem 0.4375rem -0.125rem rgba(0,0,0,0.25);
  -webkit-box-shadow: 0.0625rem 0.125rem 0.4375rem -0.125rem rgba(0,0,0,0.25);
  margin: 1.5rem 0; max-width: 100%; overflow-x: auto; }
.table-wrapper > table { margin: 0; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
/* End utility classes */

/* Rows and columns */
.row { display: table; margin: 0 auto; max-width: 75rem; table-layout: fixed; width: 100%; }
.column { display: table-cell; padding: 0 1rem; vertical-align: top; }
.col2 { width: 65.75%; }
.col3 { width: 73.7%; }

@supports (display: flex) {
  .row { display: flex; flex-wrap: wrap; table-layout: initial; }
  .column { display: block; flex: 1; }
  .col2 { flex: 2; }
  .col3 { flex: 3; }
}
/* End rows and columns */

/* Masthead */
header, footer { background: #4b9cd3; color: #fff; min-height: 3.125rem; }
header { margin: 0 0 1.5rem; position: relative; top: 0; width: 100%; z-index: 1; }
.masthead { margin: 0 auto; max-width: 75rem; overflow: auto; padding: 0 0.625rem; position: relative;
  width: 100%; }
.masthead h1 { margin: 0.625rem 0 1.5rem; }

/* Menus and navigation */
ul.menu { list-style: none; margin: 0; width: auto; }
.menu li { padding: 0; text-indent: 0; }
.menu a { display: block; padding: 0.375rem 0.4375rem; }

.mainmenu { font-size: 0; text-transform: uppercase; }
.mainmenu a { color: #fefefe; padding: 0.625rem 1rem; position: relative; text-decoration: none; }
.mainmenu div { display: inline-block; font-size: 1rem; letter-spacing: 0.0625rem; position: relative; }
.mainmenu div:hover a { background: #2e83bd; }
.mainmenu div:not(:last-child) a::after { border-right: 0.0625rem solid #2e83bd; content: '';
  height: 100%; position: absolute; right: 0; top: 0; }

.menu.vertical li { border-bottom: 0.0625rem dotted #215e87; }
.menu.vertical li:last-child { border-bottom: 0; }
.menu.vertical a { position: relative; }

.breadcrumb { background: #f8f8f8; border-radius: 0.25rem; box-shadow: 0 0.0625rem 0.4375rem rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0.0625rem 0.4375rem rgba(0,0,0,0.3); display: block; font-size: 0;
  list-style: none; margin: 0 0 2rem; padding: 0.625rem 0.75rem; width: auto; }
.breadcrumb li { padding: 0; text-indent: 0; }
.breadcrumb li:not(:last-child)::after { content: '/'; margin-left: 0.75rem; }
.breadcrumb > * { display: inline-block; font-size: 0.875rem; line-height: calc(20 / 14);
  margin-right: 0.75rem; vertical-align: middle; }

/* End navigation */
/* End masthead */

/* Copyarea */
.container { margin: 3.375rem auto 1rem; max-width: 75rem; width: 100%; }

.article-info { font-size: 0.8125rem; line-height: calc(20 / 13); margin: -0.625rem 0 0; }
/* End copyarea */

/* Media queries */
@media screen and (max-width: 919px) {
  aside:first-child { margin-top: 1.6875rem; }
  .container .row, .container .column { display: block; }
  .container .column { width: 100%; }

  @supports (display: flex) {
    .container .column { flex: unset; }
  }
}

@media screen and (min-width: 920px) and (max-width: 1024px) {
  .col3 { width: 73.7%; }

  @supports (display: flex) {
    .container .col3 { flex: 2; }
  }
}