/* Global styles */
* { box-sizing: border-box; margin: 0; min-height: 0; min-width: 0; padding: 0; }
body { background: #fefefe; color: #1f1f1f; font-family: 'Nunito', 'Helvetica Neue', Helvetica, Aria, sans-serif;
  font-size: 16px; line-height: calc(25 / 16); }

a { color: #b92d80; text-decoration: underline; }
/* 4b9cd3 => 2974a7 */
/* 2e83bd (link color) => b92d80 */
a:focus, a:hover { color: #e50188; text-decoration: none; }
a.skiplink { background: #0a0a0a; color: #fefefe; font-size: 1rem; font-weight: 600; left: 0; opacity: 1; padding: 0.75rem 1rem; position: fixed; text-shadow: 0.125rem 0.0625rem 0.1875rem rgba(0,0,0,1); top: -62.5rem; z-index: 10000; }
a.skiplink:focus { top: 0; }
h1, h2, h3, h4, h5, h6 { font-family: Caveat, cursive; font-weight: normal; }
h1 { font-size: 3.25rem; line-height: calc(54 / 52); margin: 0 0 2rem; }
h2 { font-size: 2.25rem; line-height: calc(42 / 36); margin: 1.4375rem 0; }
h3 { font-size: 1.25rem; font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: calc(26 / 20); margin: 1.125rem 0 0.75rem; text-transform: uppercase; }
img { display: inline-block; max-width: 100%; vertical-align: middle; }
p { margin: 1.125rem 0; }
ol, ul { list-style: none; margin: 1rem 0; overflow: auto; padding: 0 0 0 1.875rem; width: auto; }
ol { counter-reset: li; }
li { padding-bottom: 0.1875rem; /* padding-left: 25px; */ position: relative; /* text-indent: -23px; */ }
li { padding-left: 1.875rem; text-indent: 0; }
li::before { color: #b92d80; content: '•'; direction: rtl; display: inline-block; font-weight: bold; left: 0; margin: 0;
  position: absolute; text-align: right; top: 0; width: 0.75rem; }
ol > li { counter-increment: li; }
ol > li::before { content: '.' counter(li); width: 1rem; }

/* colored list bullets/numbers inspired by https://www.w3.org/Style/Examples/007/color-bullets.en.html */

table { border: 0; border-collapse: collapse; margin: 1.5rem 0; }
tbody tr:nth-child(even), thead tr { background: #f8f8f8; }
td, th { border: 0.0625rem solid #f0f0f0; font-size: 0.875rem; line-height: 1.3125rem;
  padding: 0.4375rem 0.75rem; min-width: 11.25rem; }
td { vertical-align: top; }
th { text-align: left; vertical-align: middle; }
/* End global styles */

/* Utility classes */
.clearfix { clear: both; }
.float-left { float: left; }
.float-right { float: right; }
.label, .button, .taglink { border-radius: 0.3125rem; color: inherit; display: inline-block;
  font-size: 0.875rem; font-weight: 600; line-height: 1.3125rem; margin: 0.4375rem 0.3125rem;
  padding: 0.3125rem 0.75rem; }
.button, .taglink { cursor: pointer; transition: background-color 0.3s; }
.taglink { background: #e6e6e6; text-decoration: none; }
.label { background: #f0f0f0; }

.button { background: #b92d80; text-decoration: none; }
.button, .button:active, .button:focus, .button:hover { color: #fefefe; }
.button:active, .button:focus, .button:hover { background: #e50188; }
.taglink:active, .taglink:focus, .taglink:hover { background: #f0f0f0; color: inherit;
  text-decoration: underline; }

.button.alert { background: #cf0115; }
.button.alert:focus, .button.alert:hover { background: #fe051d; }
.button.secondary { background: #e6e6e6; color: #0a0a0a; }
.button.secondary:focus, .button.secondary:hover { background: #f0f0f0; color: #0a0a0a; }
.button.success { background: #1ffe08; color: #0a0a0a; }
.button.success:focus, .button.success:hover { background: #9bff91; }
.button.warning { background: #fee605; color: #0a0a0a; }
.button.warning:focus, .button.warning:hover { background: #fff48e; }

.button-group { font-size: 0; margin: 0.3125rem auto; padding: 0 5px; }
.button-group > .button { border: 1px solid #902364; border-radius: 0; margin: 0; }
.button-group > .button.alert { border-color: #9c0110; }
.button-group > .button.secondary { border-color: #d3d3d3; }
.button-group > .button.success { border-color: #0b6901; }
.button-group > .button.warning { border-color: #e9d201; }
.button-group > .button:not(:last-child) { border-right-width: 0; }

.table-wrapper { box-shadow: 0.0625rem 0.125rem 0.4375rem -0.125rem rgba(0,0,0,0.25);
  -webkit-box-shadow: 0.0625rem 0.125rem 0.4375rem -0.125rem rgba(0,0,0,0.25);
  margin: 1.5rem 0; max-width: 100%; overflow-x: auto; }
.table-wrapper > table { margin: 0; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
/* End utility classes */

/* Rows and columns */
.row { display: table; margin: 0 auto; max-width: 75rem; table-layout: fixed; width: 100%; }
.column { display: table-cell; padding: 0 1.5rem; vertical-align: top; }
.contentarea { width: 65.75%; }
.sidebar { width: 34.25%; }

@supports (display: flex) {
  .row { display: flex; flex-wrap: wrap; table-layout: initial; }
  .column { display: block; flex: 1 1 auto; }
  .contentarea.column { width: unset; }
  .sidebar.column { flex: 0 0 34.25%; width: unset; }
  .contentarea { flex: 2.5; order: 2; }
  .col2 { flex: 2; }
  .col3 { flex: 3; }
}
/* End rows and columns */

/* Masthead */
header, footer { background: #2974a7; color: #fff; min-height: 3.125rem; }
header { margin: 0 0 1.5rem; position: relative; top: 0; width: 100%; z-index: 1; }
.masthead { margin: 0 auto; max-width: 75rem; min-height: 80px; padding: 0 0.625rem; position: relative; width: 100%; }
.masthead::before { display: table; content: ''; }
.masthead h1 { margin: 0.625rem 0 1.5rem; }
/* End masthead */

/* Menus and navigation */
ul.menu { list-style: none; margin: 0; padding: 0; width: auto; }
.menu li { padding: 0; text-indent: 0; }
.menu li::before { content: none; }
.menu a { display: block; padding: 0.375rem 0.4375rem; }
/* main menu */
.mainmenu { font-size: 0; text-transform: uppercase; }
.mainmenu a { background: #2974a7; color: #fefefe; cursor: pointer; padding: 0.625rem 1rem; text-decoration: none; }
.mainmenu>div.menu-item { display: inline-block; font-size: 1rem; letter-spacing: 0.0625rem; }
.mainmenu div.menu-item { position: relative; }
.mainmenu a:is(:focus, :hover) { text-decoration: underline; }
.mainmenu a:is(:focus, :hover), .mainmenu .active a { background: #215e87; }
/* submenu */
.submenu { display: block; left: -1000%; min-width: 100%; max-width: 50vw; opacity: 0; position: absolute; text-transform: capitalize;
  top: calc(100% + 1px); transition: opacity 0.2s; width: max-content; }
.submenu .submenu { left: 100%; top: 0; }
.mainmenu>div.menu-item>.submenu { transform: translateY(-1px); }
.submenu>div.menu-item { display: block; letter-spacing: normal; }
.menu-item.has-submenu:hover>.submenu { left: 0; opacity: 100%; }
.submenu>.menu-item.has-submenu:hover>.submenu { left: 100%; }
.submenu>div.menu-item>a { border-top: 1px solid #215e87; }
.submenu>div.menu-item:last-child>a { border-bottom: 1px solid #215e87; }
/* end submenu */

a.mobilenav__btn { color: #fefefe; position: absolute; right: 4.5vw; top: 2.5vh; }
/* end main menu */

.menu.vertical li { border-bottom: 0.0625rem dotted #215e87; }
.menu.vertical li:last-child { border-bottom: 0; }
.menu.vertical a { position: relative; }

.breadcrumb { background: #f8f8f8; display: block; font-size: 0; list-style: none; margin: 0 0 2rem;
  padding: 0.625rem 0.75rem; width: auto; }
.breadcrumb li { padding: 0; text-indent: 0; }
.breadcrumb li::before { content: none; }
.breadcrumb li:not(:last-child)::after { content: '/'; margin-left: 0.75rem; }
.breadcrumb > * { display: inline-block; font-size: 0.875rem; line-height: calc(20 / 14);
  margin-right: 0.75rem; vertical-align: middle; }

nav.pagination { clear: both; margin: 3.125rem auto 2rem; }
.pagination ul { display: block; font-size: 0; list-style: none; margin: 0; padding: 0; }
.pagination li { background: #e6e6e6; border-radius: 0.3125rem; display: inline-block; font-size: 1rem; line-height: 1;
  margin: 0 0.3125rem; padding: 0; text-indent: 0; transition: background-color 0.3s; vertical-align: middle; }
.pagination ul li::before { content: none; }
/* .pagination li:first-child { margin-left: 0; } */
.pagination a { color: inherit; display: block; padding: 0.5rem 0.75rem; text-decoration: none; }
.pagination li:active, .pagination li:focus, .pagination li:hover { background: #f0f0f0; }
.pagination li:active a, .pagination li:focus a, .pagination li:hover a { text-decoration: underline; }
/* End navigation */

/* Copyarea */
article.lead-item:not(:last-of-type)::after { border-bottom: 0.0625rem solid #cacaca; content: '';
  display: block; margin: 2rem auto; width: 100%; }

aside > div, blockquote { background: #f8f8f8; margin: 3.25rem 0; padding: 1.25rem 1.5rem; }
aside > div { border-bottom-right-radius: 0.75rem; border-top: 0.25rem solid #2974a7;
  border-bottom-left-radius: 0.75rem; box-shadow: 0 0.0625rem 0.4375rem rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 0.0625rem 0.4375rem rgba(0,0,0,0.15); font-size: 0.875rem;
  line-height: calc(22 / 14); }
aside > div:first-child { margin-top: 0; }
blockquote { border-bottom-left-radius: 0.75rem; border-left: 0.25rem solid #1f1f1f;
  border-top-left-radius: 0.75rem; box-shadow: -0.125rem 0.125rem 0.4375rem rgba(0,0,0,0.25);
  -webkit-box-shadow: -0.125rem 0.125rem 0.4375rem rgba(0,0,0,0.25); font-size: 1.125rem;
  line-height: calc(27 / 18); }
aside h2 { font-family: Caveat, cursive; font-size: 1.6875rem; line-height: calc(32 / 27);
  margin: 1rem 0; text-transform: none; }
aside h2:first-child { margin-top: 0; }
aside > div > p:first-child, blockquote > p:first-child { margin-top: 0; }
aside > div > p:last-child, blockquote > p:last-child { margin-bottom: 0; }
.container { margin: 3.375rem auto 1rem; max-width: 75rem; width: 100%; }
.article-info { font-size: 0.8125rem; line-height: calc(20 / 13); margin: -0.625rem 0 0; }
.item-image { margin: 0.625rem auto 1rem; }
.item-image img { max-height: 31.25rem; border: 0.0625rem solid #215e87; }

.menu.vertical li.lastfm-track { border-bottom: 0; }
a.lastfm-link { font-size: 0; }
span[class*='lastfm-'] { display: inline-block; font-size: 0.875rem; vertical-align: middle; }
span.lastfm-img { text-align: right; width: 2.625rem; }
span.lastfm-title { text-decoration: underline; width: calc(100% - 2.625rem); }
.lastfm-link:active .lastfm-title, .lastfm-link:focus .lastfm-title,
  .lastfm-link:hover .lastfm-title { text-decoration: none; }
/* End copyarea */

/* Footer */
footer { font-size: 0.875rem; line-height: calc(22 / 14); margin: 3.125rem 0 0; padding: 2rem 0; text-align: center; }
footer p { margin: 0; }
.footer-item { margin: 14px auto; }
/* End footer */

/* Media queries */
@media screen and (min-width: 28.125em) { }

@media screen and (max-width: 36.188em) {
  .mainmenu { display: none; }
  .mainmenu a { border-bottom: 1px solid #215e87; }

  .submenu { display: none; left: unset; max-width: unset; min-width: unset; opacity: unset; position: unset; top: unset; width: auto; }
  .menu-item.has-submenu:hover>.submenu { left: unset; opacity: unset; }

  .mainmenu>div.menu-item { display: block; }
  .submenu>div.menu-item>a { border-top: 0; }
  .mainmenu>div.menu-item>.submenu { transform: none; }
  .has-submenu.is-open>.submenu { display: block; }
}

@media screen and (min-width: 36.250em) {
  a.mobilenav__btn { display: none; }
  .has-submenu>a>span.fa { display: none; }
}

@media screen and (max-width: 43.688em) {
  .contentarea.column, .sidebar.column { display: block; width: 100%; }

  @supports (display: flex) {
    .contentarea.column, .sidebar.column { flex: 1 1 auto; order: unset; width: unset; }
  }
}

@media screen and (min-width: 43.750em) and (max-width: 57.438em) {
  .sidebar.column { width: 42%; }

  @supports (display: flex) {
    .sidebar.column { flex: 0 0 42%; width: unset; }
  }
}

@media screen and (max-width: 45.563em) {
  footer .column { display: block; margin-bottom: 1rem; width: 100%; }

  @supports (display: flex) {
    footer .column { flex: unset; }
  }
}

@media screen and (max-width: 57.438em) {
  aside:first-child { margin-top: 1.6875rem; }
}

@media screen and (min-width: 57.500em) and (max-width: 64.000em) { }
